body {
    background-color: white;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 35%;
    border: 3px solid darkgreen;
    width: 390px;
}

#newday {
    margin-left: 42%;
    color: black;
    background-color: white;
    width: 200px;
    height: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    border: 2px solid black;
}

canvas {
    background-color: white;
}

#storage {
    float: center;
    color: white;
    margin-left: 42%;
    padding: 35px;
    width: 150px;
    height: 130px;
    background: url("Scheune.jpeg");
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 3px solid darkgreen;
}

#cow {
    float: left;
    width: 240px;
    height: 400px;
    padding: 20px;
    color: white;
    background: url("Kuh.jpeg");
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 3px solid white;
}

#dog {
    float: left;
    width: 230px;
    height: 400px;
    padding: 20px;
    background: url("Hund.jpeg");
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 3px solid white;
}

#chicken {
    float: left;
    width: 240px;
    height: 400px;
    padding: 20px;
    background: url("Huhn.png");
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 3px solid white;
}

#goat {
    float: left;
    width: 240px;
    height: 400px;
    padding: 20px;
    background: url("Ziege.jpeg");
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 3px solid white;
}

#sheep {
    float: left;
    width: 240px;
    height: 400px;
    padding: 20px;
    background: url("Schaf.jpeg");
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 3px solid white;
}