html,
body {
    height: 100%;
    margin: 0 8px;
    background-color: lightsteelblue;
}

#div0 {
    padding: 50px;
    background-color: lightcyan;
    border: thin solid lightgrey;
    width: 42%;
    height: 400px;
    float: left;
}

#div1 {
    padding: 50px;
    background-color: lightcyan;
    border: thin solid lightgray;
    width: 42%;
    height: 400px;
    float: right;
}

span {
    position: fixed;
    padding: 30px;
    background-color: lightgray;
    border: thin solid lightblue;
    width: 140px;
    height: 60px;
}

button {
    width: 150px;
    height: 60px;
    background-color: lightblue;
    border-radius: 10px;
    border-color: lightgray;
    font-family: monospace;
    color: lightseagreen;
    font-size: x-large;
}

h1 {
    font-family: monospace;
    color: lightseagreen;
}